<<<<<<< HEAD
<h1><%=@student.first_name + " " + @student.last_name %></h1>
<%if @student.active%>
    <h2>This student is currently active.</h2>
<%else%>
    <h2>This student is currently inactive.</h2>
<%end%>


=======
<h1><%=@student.first_name + " " + @student.last_name %></h1>
>>>>>>> e6470620bcb36e5fbd27a7ca07ae686735ac00a8
